---
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container">
    <section class="header">
      {% include header.html %}
    </section>
    <section class="content">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 content-div">
          <div class="page-separator hidden-xs">
            <h1 class="h1-strip" style="padding-bottom:8em; margin-bottom: 0;"></h1>
          </div>
          <div class="page-separator visible-xs">
            <h1 class="h1-strip" style="padding-bottom:2em; margin-bottom: 0;"></h1>
          </div>
          <h1 class="post-title page-title" id="title"><a href="#title">{{ page.title }}</a></h1>
          {{ content }}
        </div>
      </div>
    </section>
    <section class="footer">
      {% include footer.html %}
    </section>
  </div>
</body>

</html>
